body{
    background-color: blueviolet;
}

.first {
    margin-top: 8px;
    position: relative;
    top: 0px;
    left: 0%;
   
}

.second{
    position: relative;
    top: 0px;
    left: 0%;
    

}
  
.third {
    position: relative;
    top: -36.8rem;
    left: 33%;


}

p {
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 0px 5px 100px;

}